.CatsMainContainer {
    background-color: rgb(255, 249, 227);
}

.cats-items {
    width: 80vw;
    border: orange solid 2px;
    background-color: rgb(65, 112, 111);
    border-radius: 10px;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; 
}

.cats-item {
    border: green solid 2px;
    background-color: wheat;
    border-radius: 10px;
    flex-basis: 20vw;
    height: 73%;
    min-width: 20vw;
    flex-shrink: 0; 
    padding: 1em;
    margin: 20px;
    position: relative; 
    overflow: hidden; 
}

.catHeader {
    height: 11vh;
    width: 18vw;
    overflow: hidden;
}

.cath3Header {
    color: brown;
    margin: 0px;;
}

.catImageDiv {
    background-color: white;
    padding: 0px;
    border: rgb(190, 190, 190) solid 3px;
    border-radius: 10px;
}


.catimageTag {
    width: 15vw;
    height: 35vh;
    margin: 1em;
    padding: 1vh;
}

.catItemDescription {
    width: 100%;
    height: 6em; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    line-height: 1.5em; 
    position: relative;
    font-size: 20px;
    margin-bottom: 0px
}

.catItemDescriptionParagraph {
    margin: 0px;
}

.ItemCardMoreDetailsLinkContainer {
    justify-self: right;
    width: 100%;
    height: 15%;
    justify-self: center;
    display: flex;
    justify-content: space-between;
}

.ItemCardMoreDetailsLink {
    text-decoration: none;
    font-size: 20px;
    justify-self: right;
    align-self: center;

}

.ItemCardPrice {
    font-weight: bold;
    justify-self: left;
}

.LinkToItemDetails {
    text-decoration: none;
    color: brown;
    justify-self: left;
}