.itemListMainContainer {
    width: 80vw;
    border: orange solid 2px;
    background-color: rgb(65, 112, 111);
    border-radius: 10px;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}